
#app {
  background-image: url("https://mquanaazi.github.io/huluImages/uwp4364032.webp");
  background-size: cover;
  filter:blur();
  background-repeat: no-repeat;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #370026;
  margin-top: 0px;
  min-height: 100vh;

  

}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #42012cde;
  text-decoration: none;
  background-color: aqua;
  border-radius: 10px;
  border:3px rgb(237, 86, 237) solid;
}
nav a:hover{
  font-weight: bold;
  color: #1d0233de;
  background-color: rgba(133, 237, 247, 0.556);

}

nav a.router-link-exact-active {
  color: #78018a;
  background-color: rgba(58, 191, 224, 0.623);
  border-radius: 10px;
  padding: 5px;
}
img{
    border:3px rgb(237, 86, 237) solid;
    border-radius: 10%;
    width: 200px;

    
   } 
header{
 text-align:justify;
 justify-content: space-between;
 border-radius: 10px;
 background-color: rgba(160, 8, 210, 0.777);
 
}
h1{
  /* padding: 10px; */
  text-align: right;
  color: #0aedf9cf;
  /* font-size: 30px;   */
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  top:0%
}
/* #footer{
  background-color: rgba(0, 255, 255, 0.712);
  border-radius: 10px;
  margin-bottom: 0%;
  justify-content: center;
  position:static;
  
  */
/* } */
#section{
  background-color: rgba(219, 252, 254, 0.903);
  border-radius: 10px;
  justify-content: center;
  position:sticky;
  width: 750px;
  text-align: center;
  padding: 7px;
  margin: auto;
}
/* section{
  text-align: center;
  justify-content: center;
} */



